// Variables Globales //

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-geoloc: #EAEAEA;
$background: #F6F6F6;
$default-font: Roboto;
$title-font: Shrikhand;

// Mixins //

@mixin dark-green-card {
    color: darken($tertiary-color, 47.84313725490196);
    /* https://sasscolorcalculator.com/ */
}

@mixin linear-gradient {
    background: linear-gradient(180deg, $secondary-color, $primary-color );
}

@mixin linear-gradient-invert {
    background: linear-gradient(0deg, $secondary-color, $primary-color );
}

@mixin title {
    font-size: 24px;
    font-weight: 700;

}

@mixin basic-card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 175px;
    border-radius: 15px 15px 0px 0px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

// CSS Start //


.header__logo__container a {
    font-size: 16px;
    top: 24px;
    left: 24px;
    position: absolute;

}

form {
    background-color: $background;
}

main section {
    padding: 0;
}

.main__restaurant {

    &__name {
        position: relative;
        overflow: hidden;

        &__background {
            height: 250px;
            width: 100%;
            object-fit: cover;
        }

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 32px 13px 0px 13px;
            position: relative;
            top: -32px;
            border-radius: 32px 32px 0px 0px;
            background-color: $background;


        }

        &__title {
            font-size: 28px;
            font-family: $title-font;
            margin: 0;
            font-weight: 400;
        }

        &__heart {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 22px;
            padding-right: 24px;

        }

        .heart-toggle {
            display: none;
        }

        /* Anim coeur */
        .full-heart {
            display: none;
        }

        .heart-toggle:checked~.empty-heart {
            display: none;
        }

        .heart-toggle:checked~.full-heart {
            display: flex;
            @include linear-gradient-invert;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }
}

.main__menu {
    padding: 0px 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 38.5px;
        padding-bottom: 40px;
        top: -32px;
        position: relative;
    }

    &__title {
        color: #000;
        font-size: 16px;
        font-weight: 300;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -9px;
            width: 40px;
            height: 3px;
            background-color: $tertiary-color;
        }
    }

    &__dish-card {
        width: 100%;
        background-color: white;
        box-shadow: 0 4.011px 15px 0 rgba(0, 0, 0, 0.10);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        height: 69px;
        gap: 5px;
        position: relative;
        overflow: hidden;

        &__title {
            margin: 0;
            font-weight: 700;
            font-size: 18px;
        }

        &__subtitle {
            margin: 0;
        }

        &__title__container {
            margin: 13.5px 0px 0px 15px;
            display: flex;
            flex-direction: column;
            gap: 5px;

        }

        &__price {
            position: absolute;
            bottom: 18px;
            right: 18px;
            margin: 0;
            font-weight: 700;
        }

        .validation-box {
            position: absolute;
            right: 0;
            top: 0;
            width: 59px;
            height: 100%;
            background-color: $tertiary-color;
            border-radius: 0 15px 15px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(100%);
            transition: transform 0.4s ease;
        }

        .checkmark {
            color: white;
            font-size: 22px;
            opacity: 0;
            transform: scale(0.5);
        }

        // Animation au clic
        .card-toggle:checked~.validation-box {
            transform: translateX(0);
        }

        .card-toggle:checked~.validation-box .checkmark {
            opacity: 1;
            transform: scale(1);
        }
    }

    &__order {
        width: 186px;
        height: 50px;
        @include linear-gradient;
        display: flex;
        align-self: center;
        justify-self: center;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: white;
        border-radius: 25px;
        border: none;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    }


}

.footer__container {
    margin-top: -32px;
}

.main__menu__dish-card__price {
    position: absolute;
    bottom: 18px;
    right: 18px;
    margin: 0;
    font-weight: 700;
    transition: right 0.4s ease;
}

.card-toggle:checked~.main__menu__dish-card__price {
    right: 77px;
}






@media (min-width: 1024px) {



    .main__restaurant__name__container {
        margin: 0px 193px;
        width: auto;
    }

    .main__menu__container {
        margin: 0px 193px;
        width: auto;
        top: -32px;
        position: relative;
    }

}