// Variables pour components/_card-menu
$card-menu--fade-in-duration: 0.6s;
$card-menu--fade-delay-step: 0.2s;


// Variables pour components/_loader-logo
$loader-logo--fade-in-duration: 0.5s;
$loader-logo--fade-out-duration: 3s;
$loader-logo--letter-delay-step: 0.2s;