@use '../abstracts/' as *;

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 29px;
    @include dark-green-card;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: $tertiary-color;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
}