@use '../abstracts/' as *;

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  animation: fadeOut $loader-logo--fade-out-duration ease-out forwards;

  .logo {
    font-family: $title-font, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    gap: 5px;

    span {
      opacity: 0;
      animation: fadeIn $loader-logo--fade-in-duration forwards;

      // Génère les délais automatiquement
      @for $i from 1 through 8 {
        &:nth-child(#{$i}) {
          animation-delay: ($i - 1) * $loader-logo--letter-delay-step;
        }
      }
    }
  }
}