@use '../abstracts/' as *;

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background-color: #353535;
    color: white;
    padding: 22px 25px;
    margin-top: -32px;

    &__title {
        font-family: $title-font;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 7px;
        margin: 0;
        padding: 0;

        &__item {
            display: flex;
            flex-direction: row;
            gap: 10px;
            color: inherit;
            font-weight: 400;

            i {
                font-size: 13px;
                width: 11px;
                align-self: center;
            }

            i + span {
                font-weight: 500;
            }
        }

    }
}

@media (min-width: 1024px) {


    .footer__container {
        height: 54px;
        padding: 30px 25px;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;

        &__title {
            order: 2;
            width: 138px;
        }

        &__list {
            flex-direction: row;

            &__item {
                width: 130px;
            }

            &__item--spanned {
                width: 190px;
            }
        }
    }
}