@use '../../abstracts/' as *;



.main__menu {
    padding: 0px 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    

    &__container {
        display: flex;
        flex-direction: column;
        gap: 38.5px;
        padding-bottom: 40px;
        top: -32px;
        position: relative;
        background-color: $background;
    }

    &__title {
        color: #000;
        font-size: 16px;
        font-weight: 300;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -9px;
            width: 40px;
            height: 3px;
            background-color: $tertiary-color;
        }
    }

    &__dish-card {
        width: 100%;
        background-color: white;
        box-shadow: 0 4.011px 15px 0 rgba(0, 0, 0, 0.10);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        height: 69px;
        gap: 5px;
        position: relative;
        overflow: hidden;

        &__title {
            margin: 0;
            font-weight: 700;
            font-size: 18px;
            @include ellipsis(calc(100% - 70px));
        }

        &__subtitle {
            margin: 0;
            font-size: 15px;
            @include ellipsis(calc(100% - 70px));
        }

        &__title__container {
            margin: 13.5px 0px 0px 15px;
            display: flex;
            flex-direction: column;
            gap: 5px;

        }

        &__price {
            position: absolute;
            bottom: 18px;
            right: 18px;
            margin: 0;
            font-weight: 700;
            @include ellipsis(calc(100% - 70px));
            transition: right 0.4s ease;
        }
    }


}

@media (min-width: 1024px) {
    .main__menu__container {
        margin: 0px 193px;
        width: auto;
        top: -32px;
        position: relative;
    }

    .main__restaurant {

        &__name {


            &__container {
                justify-content: center;
                gap: 48px;
            }
        }
    }

}