@charset "UTF-8";
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background-color: #353535;
  color: white;
  padding: 22px 25px;
  margin-top: -32px;
}
.footer__container__title {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.footer__container__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 7px;
  margin: 0;
  padding: 0;
}
.footer__container__list__item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: white;
  font-weight: 400;
}
.footer__container__list__item i {
  font-size: 13px;
  width: 11px;
  align-self: center;
}
.footer__container__list__item i + span {
  font-weight: 500;
}

@media (min-width: 1024px) {
  .footer__container {
    height: 54px;
    padding: 30px 25px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .footer__container__title {
    order: 2;
    width: 138px;
  }
  .footer__container__list {
    flex-direction: row;
  }
  .footer__container__list__item {
    width: 130px;
  }
  .footer__container__list__item--spanned {
    width: 190px;
  }
}
.header__logo__container {
  display: flex;
  height: 63px;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  align-items: center;
  justify-content: center;
}
.header__logo__container .header__logo {
  height: 36px;
  padding: 14px 0px 13px 0px;
}
.header__logo__container a {
  font-size: 16px;
  top: 24px;
  left: 24px;
  position: absolute;
}

.form__container {
  display: flex;
  background-color: #EAEAEA;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.form__container form {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
}
.form__container form button {
  border: none;
  background-color: #EAEAEA;
  font-size: 16px;
}
.form__container form input {
  border: none;
  background-color: #EAEAEA;
  font-size: 16px;
  font-weight: 500;
  max-width: 150px;
}

html {
  font-family: Roboto;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  color: rgb(29.8854961832, 105.1145038168, 86.5648854962);
  /* https://sasscolorcalculator.com/ */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #99E2D0;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}

.main__restaurant__card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  height: 250px;
  background-color: white;
}
.main__restaurant__card__bg {
  position: relative;
}
.main__restaurant__card__bg img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.main__restaurant__card__title__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 16px 0px 0px 13px;
}
.main__restaurant__card__title {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.main__restaurant__card__subtitle {
  font-size: 17px;
  font-weight: 300;
  margin: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #FF79DA, #9356DC);
}

.button:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  background: linear-gradient(180deg, rgb(255, 134.4, 221.7), rgb(157.8, 102.9, 223.5));
}

@keyframes heartFill {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 0 0%;
  }
}
.fav-heart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
}
.fav-heart .empty-heart,
.fav-heart .full-heart {
  position: absolute;
  transition: opacity 0.3s ease;
}
.fav-heart .full-heart {
  opacity: 0;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fav-heart:hover .empty-heart {
  opacity: 0;
}
.fav-heart:hover .full-heart {
  opacity: 1;
  animation: heartFill 0.8s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 3s ease-out forwards;
  /* Délais pour chaque lettre */
}
.loader .logo {
  font-family: Shrikhand, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  gap: 5px;
}
.loader .logo span {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}
.loader .logo span:nth-child(1) {
  animation-delay: 0s;
}
.loader .logo span:nth-child(2) {
  animation-delay: 0.2s;
}
.loader .logo span:nth-child(3) {
  animation-delay: 0.4s;
}
.loader .logo span:nth-child(4) {
  animation-delay: 0.6s;
}
.loader .logo span:nth-child(5) {
  animation-delay: 0.8s;
}
.loader .logo span:nth-child(6) {
  animation-delay: 1s;
}
.loader .logo span:nth-child(7) {
  animation-delay: 1.2s;
}
.loader .logo span:nth-child(8) {
  animation-delay: 1.4s;
}

.card-menu {
  width: 100%;
  background-color: white;
  box-shadow: 0 4.011px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 69px;
  gap: 5px;
  position: relative;
  overflow: hidden;
}
.card-menu__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.card-menu__subtitle {
  margin: 0;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.card-menu__title__container {
  margin: 13.5px 0 0 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 70px;
  transition: margin-right 0.4s ease;
}
.card-menu__price {
  position: absolute;
  bottom: 18px;
  right: 18px;
  margin: 0;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  transition: right 0.4s ease;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.card--fade-in {
  opacity: 0;
  animation: fadeInUp 0.6s ease forwards;
}

.card--fade-in:nth-child(1) {
  animation-delay: 0.2s;
}

.card--fade-in:nth-child(2) {
  animation-delay: 0.4s;
}

.card--fade-in:nth-child(3) {
  animation-delay: 0.6s;
}

.card--fade-in:nth-child(4) {
  animation-delay: 0.8s;
}

.card--fade-in:nth-child(5) {
  animation-delay: 1s;
}

.validation-box {
  position: absolute;
  right: 0;
  top: 0;
  width: 59px;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.4s ease;
}

.checkmark {
  color: white;
  font-size: 22px;
  opacity: 0;
  transform: scale(0.5);
}

.card-menu:hover .validation-box {
  transform: translateX(0);
}
.card-menu:hover .validation-box .checkmark {
  opacity: 1;
  transform: scale(1);
}
.card-menu:hover .card-menu__price {
  right: 77px;
}
.card-menu:hover .card-menu__title__container {
  margin-right: 130px;
}

main section {
  padding: 0;
}

.main__restaurant__name {
  position: relative;
  overflow: hidden;
}
.main__restaurant__name__background {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__restaurant__name__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 13px 0px 13px;
  position: relative;
  top: -32px;
  border-radius: 32px 32px 0px 0px;
  background-color: #F6F6F6;
}
.main__restaurant__name__title {
  font-size: 28px;
  font-family: Shrikhand;
  margin: 0;
  font-weight: 400;
}

.main__menu {
  padding: 0px 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
}
.main__menu__container {
  display: flex;
  flex-direction: column;
  gap: 38.5px;
  padding-bottom: 40px;
  top: -32px;
  position: relative;
  background-color: #F6F6F6;
}
.main__menu__title {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  position: relative;
}
.main__menu__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}

.button {
  width: 186px;
  height: 50px;
  align-self: center;
  justify-self: center;
  border: none;
}

@media (min-width: 1024px) {
  .main__menu__container {
    margin: 0px 193px;
    width: auto;
    top: -32px;
    position: relative;
  }
  .main__restaurant__name__container {
    justify-content: center;
    gap: 48px;
  }
  .main__restaurant__name__container {
    margin: 0px 193px;
    width: auto;
  }
}
.fav-heart {
  padding-right: 24px;
  bottom: 0px;
  right: 0px;
}/*# sourceMappingURL=restaurants.css.map */