// Variables Globales //

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-geoloc: #EAEAEA;
$background: #F6F6F6;
$default-font: Roboto;
$title-font: Shrikhand;

// Mixins //

@mixin dark-green-card {
    color: darken($tertiary-color, 47.84313725490196);
    /* https://sasscolorcalculator.com/ */
}

@mixin linear-gradient {
    background: linear-gradient(180deg, $secondary-color, $primary-color );
}
@mixin linear-gradient-invert {
    background: linear-gradient(0deg, $secondary-color, $primary-color );
}

@mixin title {
    font-size: 24px;
    font-weight: 700;
}

@mixin basic-card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 175px;
    border-radius: 15px 15px 0px 0px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
// CSS Start //
html {
    font-family: $default-font;

}

img {
    object-fit: cover
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.header__logo__container {
    display: flex;
    height: 63px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;

    .header__logo {
        height: 36px;
        padding: 14px 0px 13px 0px;
    }
}

.form__container {
    display: flex;
    background-color: $background-geoloc;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    form {
        display: flex;
        flex-direction: row;
        gap: 17px;
        align-items: center;
        justify-content: center;

        button {
            border: none;
            background-color: $background-geoloc;
            font-size: 16px;
        }

        input {
            border: none;
            background-color: $background-geoloc;
            font-size: 16px;
            font-weight: 500;
            max-width: 150px;
        }
    }
}

.main__restaurant {
    background-color: $background;
}

.main__title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background;
    height: 287.5px;


    &__text {
        @include title;
        margin-top: 39.5px;
    }

    &__subtext {
        font-size: 18px;
        font-weight: 300;
        margin-top: 0;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: white;
        border-radius: 25px;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
        height: 50px;
        width: 218px;
        @include linear-gradient;


    }
}

main section {
    padding: 0px 20px;
}

.main__how-to {

    &__title {
        @include title;
    }

    &__list {
        list-style: none;
        padding-left: 0;

        li {
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 1.5rem;
        }

        &--marker {
            background-color: #a259ff;
            color: white;
            font-weight: bold;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            text-align: center;
            line-height: 24px;
            font-size: 14px;
            margin-right: -12px;
            z-index: 1;
        }

        &--content {
            background-color: #f6f6f6;
            border-radius: 12px;
            padding: 1rem 1.5rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            box-shadow: 0 2px 8px grey;
            flex: 1;
        }
    }

    .fa-store {
        color: $primary-color;
    }
}

.main__restaurant {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 66px ;

    &__title {
        @include title;

    }

    &__card {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        height: 250px;
        background-color: white;

        &__bg {
            background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
            @include basic-card;

            &--restaurant2 {
                background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
                @include basic-card;
            }

            &--restaurant3 {
                background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
                @include basic-card;
            }

            &--restaurant4 {
                background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
                @include basic-card;
            }

        }

        &__badge {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 29px;
            @include dark-green-card;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
            background-color: $tertiary-color;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 500;
            margin: 15px 15px 0 0;

        }

        &__title__container {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 16px 0px 0px 13px;
        }

        

        &__title {
            font-size: 18px;
            font-weight: 700;
            display: flex;
            flex-direction: column;
            margin: 0;
        }

        &__subtitle {
            font-size: 17px;
            font-weight: 300;
            margin: 0;
        }

        &__heart {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            bottom: 33px;
            right: 25px;
            font-size: 22px;

        }
        
        .heart-toggle {
            display: none;
        }
    /* Anim coeur */
        .full-heart {
            display: none;
        }

        .heart-toggle:checked ~ .empty-heart {
            display: none;
        }

        .heart-toggle:checked ~ .full-heart {
            display: flex;
            @include linear-gradient-invert;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background-color: #353535;
    color: white;
    padding: 22px 25px;

    &__title {
        font-family: $title-font;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 7px;
        margin: 0;
        padding: 0;

        &__item {
            display: flex;
            flex-direction: row;
            gap: 10px;
            color: white;
            font-weight: 400;

            i {
                font-size: 13px;
                width: 11px;
            }

            i+span {
                font-weight: 500;
            }
        }

    }
}