@use '../../abstracts/' as *;

.main__restaurant {
    background-color: $background;
    padding: 55px 20px 66px 20px;

    &__title {
        @include title;
        margin-top: 0;

    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}


main section {
    padding: 0px 20px;
}

@media (min-width: 1024px) {
    .main__restaurant {
        padding-left: 180px;
        padding-right: 180px;



        &__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 100px;
            row-gap: 50px;

        }
    }


}